.container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-block: 32px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.moviesCard {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}