.app {
    overflow-x: hidden;
}

.main {
    max-width: 1440px;
    margin: 0 auto;
}

body {
    background: var(--bg-primary);
    color: var(--text-primary);
}

section {
    margin-bottom: 60px;
}